Mesa==3.0.3
solara==1.57.3
solara-server==1.57.3
solara-ui==1.57.3
reacton==1.9.1
matplotlib==3.10.8
networkx==3.4.2
numpy==2.2.6
pandas==2.3.3
uvicorn==0.44.0
starlette==0.52.1
watchfiles==1.1.1
typing_extensions==4.15.0